.contact {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(218, 211, 211);
  display: grid;
  position: fixed;
}

.contact1 {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255, 255, 255);
  width: 80vw;
  height: 90vh;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: -10px 10px 10px rgba(107, 6, 6, 0.192);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact h1 {
  font: 400 2vmax "Cambria";
  color: rgba(171, 5, 46, 0.7);
  margin: 2vmax;
  text-align: center;
  width: 50vmax;
  border-bottom: 1px solid rgba(171, 5, 46, 0.7);
}

.contact2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  margin-top: 70px;
}