.empty {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 70%;
}

.empty svg {
  font-size: 5vmax;
  color: rgba(171, 5, 46, 0.7);
}

.empty p {
  font-size: 2vmax;
}

.empty a {
  background-color: rgba(171, 5, 46, 0.7);
  color: white;
  border: none;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Cambria";
  text-decoration: none;
  border-radius: 50px;
}

.cartPage {
  padding: 5vmax;
  padding-left: 25vmax;
  padding-right: 25vmax;
}

.cartHeader {
  background-color: rgba(185, 169, 173, 0.7);
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  color: rgb(238, 12, 12);
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  font: 300 1vmax "Cambria";
}

.cartHeader p {
  margin: 10px;
}

.cartHeader>p:last-child {
  text-align: end;
}

.cartContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}

.cartInput {
  display: flex;
  align-items: center;
  height: 8vmax;
}

.cartInput>button {
  border: none;
  background-color: rgba(167, 89, 89, 0.616);
  padding: 0.5vmax;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.cartInput>button:hover {
  background-color: rgba(0, 0, 0, 0.767);
}

.cartInput>input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Cambria";
  color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
  display: flex;
  padding: 0.5vmax;
  height: 8vmax;
  align-items: center;
  box-sizing: border-box;
  font: 300 1vmax cursive;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.cartGrossProfitBox {
  margin: 1vmax 4vmax;
  box-sizing: border-box;
  padding: 2vmax 0;
  font: 300 1vmax "Cambria";
  display: flex;
  justify-content: space-between;
}

.checkOutBtn {
  display: flex;
  justify-content: flex-end;
}

.checkOutBtn button {
  background-color: rgba(171, 5, 46, 0.7);
  color: white;
  border: none;
  padding: 0.8vmax 2vmax;
  width: 100%;
  font: 300 0.8vmax "Cambria";
  margin: 1vmax 1vmax;
  cursor: pointer;
  border-radius: 30px;
}

@media screen and (max-width: 600px) {
  .cartPage {
    padding: 0;
    min-height: 60vh;
  }

  .cartHeader {
    width: 100%;
    font: 300 1.7vmax "Cambria";
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cartContainer {
    width: 100%;
    grid-template-columns: 3fr 1fr 1fr;
  }

  .cartInput {
    height: 20vmax;
  }

  .cartInput>button {
    padding: 1.5vmax;
  }

  .cartInput>input {
    width: 2vmax;
    padding: 1.5vmax;
    font: 400 1.8vmax "Cambria";
  }

  .cartSubtotal {
    padding: 1.5vmax;
    height: 20vmax;
    font: 300 2vmax "Cambria";
  }

  .cartGrossProfit {
    display: grid;
    grid-template-columns: 0fr 2fr;
  }

  .cartGrossProfitBox {
    padding: 2vmax;
    font: 300 2vmax "Cambria";
  }

  .checkOutBtn>button {
    padding: 2vmax 4vmax;
    width: 100%;
    font: 300 2vmax "Cambria";
  }
}