.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 10vmax;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderSuccess>svg {
  font-size: 7vmax;
  color: rgba(171, 5, 46, 0.7);
}

.orderSuccess>p {
  font-size: 2vmax;
}

.orderSuccess>a {
  background-color: rgba(171, 5, 46, 0.7);
  color: white;
  border: none;
  border-radius: 45px;
  padding: 1vmax 3vmax;
  cursor: pointer;
  font: 400 1vmax "Cambria";
  text-decoration: none;
  margin: 2vmax;
}

@media screen and (max-width: 600px) {
  .orderSuccess>a {
    padding: 3vw 6vw;
    font: 400 4vw "Cambria";
    margin: 2vmax;
  }

  .orderSuccess>svg {
    font-size: 20vw;
  }

  .orderSuccess>p {
    margin: 2vmax;
    font-size: 5vw;
  }
}